// Body
$body-bg: #f5f9fc;

// Typography
$font-family-sans-serif:'Noto Naskh Arabic UI', serif;
$heading-font-family:'Noto Sans Kufi Arabic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$blue : #3490dc;
$indigo : #6574dc;
$purble : #9561e2;
$pink : #f66d9b;
$red : #e3342f;
$orange : #f6993f;
$yellow : #ffed4a;
$green : #38c172;
$teal : #4dc0c5;
$cyan : #6cb2eb;
$warning:#f28406;

$primary:#5418c4;
$btn-border-radius: 0;
$card-border-width:0;
$card-border-radius:0;
$link-color: #000;
$input-border-radius:0;

